body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#carousel{
  max-height:500px;
}

.navbar-collapse {
  transition: height 0.3s ease; /* Smooth transition for height */
  overflow: hidden; /* Prevent content overflow during transition */
  height: 0; /* Initial collapsed state */
}

.navbar-collapse.show {
  /* height: auto; Expanded state */
}